{% extends 'layout/basic.html' %}
{% load static %}

{% comment %} 继承母模板 {% endcomment %}

{% block title %}
用户注册
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<style>
    .error-msg {
    color: red;
    position: absolute;
    font-size: 13px;
    }
</style>
{% endblock %}

{% block content %}
<div class='account'>
    <h1>注册</h1>
    <form>
        {% for field in form %}
            {% if field.name == 'code' %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class='row'>
                    <div class='col-xs-7'>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                    <div class='col-xs-5'>
                        <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码"/>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <span class="error-msg"></span>
            </div>
            {% endif %}
        {% endfor %}
    </form>
    <div class='row'>
        <div class='col-xs-3'>
            <input id="btnSubmit" type="button" class="btn btn-primary" value="注  册"/>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    // 点击发送发送验证码
    $(function (){
        bindClickBtnSms();
    });
    function bindClickBtnSms(){
        $('#btnSms').click(function () {
            //再次点击时先清空上次的错误信息
            $('.error-msg').empty();

            //获取用户手机号
            var mobilePhone=$('#id_mobile_phone').val();
            // 发送ajax请求，把⼿机号发送过去
            $.ajax({
                //生成一个URL，指向名为send_sms的视图函数。
                url: "{% url 'send_sms' %}", // 等价于 /send/sms/
                type: "GET",
                data: {mobile_phone: mobilePhone, tpl: "register"},
                dataType: "JSON", // 将服务端返回的数据反序列化为字典
                success: function (res) {
                    //console.log(res)
                    if (res.status){
                        //启动倒计时
                        sendSmsRemind();
                    }
                    else{
                        //输出错误信息在span
                        $.each(res.error, function (key,value){
                            $("#id_"+key).next().text(value[0]);
                        })
                    }
                }
            })
        })
    }
    //倒计时
    function sendSmsRemind(){
        var $smsBtn=$('#btnSms');
        $smsBtn.prop('disabled',true); //禁用
        var time=60;
        var remind=setInterval(function (){
            $smsBtn.val(time+'秒重新发送');
            time=time-1;
            if(time<1){
                clearInterval(remind);
                $smsBtn.val('点击获取验证码').prop('disabled',false);
            }
        },1000)
    }
</script>
{% endblock %}
